RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$0 [PT,L]

#RewriteCond %{HTTPS} on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#SEO url settings
#RewriteCond %{SERVER_PORT} 80
#RewriteCond %{HTTP_HOST} ^(www\.)?tradifyservices\.com
#RewriteRule ^(.*)$ https://www.tradifyservices.com/banana/$1 [R,L]
